@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #AD8200;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #AD8200;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #AD8200;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: #AD8200;
}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 110vw;
    height: auto;

}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #AD8200;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* End Header section */

/* Hero Section */
#hero {
    background-image: url(./img/cube-1.png);
    background-color: white;
    background-size: 600px 550px;
    background-repeat: no-repeat;
    background-position: calc(80% + 120px) 20px;
    position: relative;
    z-index: 1;
    /* background-image: url(./img/cube-1.png);

    background-size: 600px 550px;
    background-repeat: no-repeat;
    background-position: calc(80% + 120px) 20px;
    position: relative;
    z-index: 1; */
    /* background-image: url(./img/slideshow_1.gif);
        background-size: 300px 550px;
        background-repeat: no-repeat;
        background-position: calc(80% + 120px) 20px;
        /* background-position: top center; */
    /* position: relative;
        z-index: 1;
        margin-top: 20px;  */
}



#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #AD8200;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    /* background-image: url(./img/img-1.png); */
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    margin-left: 70px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
}

/* End Services Section */

/* Projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Projects section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #AD8200;
    z-index: -1;
}

/* End About Section */

/* contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/*End contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #AD8200;
        font-weight: 500;
    }
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero */

    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Services Section */

    /* Project */
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }

    /* End Project */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #AD8200;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End About */

    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }

    #contact .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    /* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    /* End header */

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}

/* End  Media Query For Desktop */

/* added css */
.small-image {
    width: 100px;
    height: auto;

}

/* clock */
.countdown-container {
    text-align: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.countdown-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-left: -5px;
    margin-right: 420px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.countdown-item {
    text-align: center;
}

.countdown-item p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.countdown-item span {
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {

    /* Adjust styling for screens up to 768px wide (e.g., tablets) */
    .countdown-box {
        margin-left: -40px;
        margin-right: 1px;
        flex-wrap: nowrap;
        /* Prevent items from wrapping */
        overflow-x: auto;
        /* Add horizontal scrolling if needed */
    }

    .countdown-item {
        flex: 0 0 auto;
        /* Reset flex properties to the default */
        max-width: none;
        /* Reset maximum width */
    }
}

/* Hero Section */
#works {
    background-image: url(./img/slideshow_1.gif);
    background-size: 350px 720px;
    background-repeat: no-repeat;
    background-position: calc(80% + 120px) 20px;
    position: relative;
    z-index: 1;
    width: '20%'
        /* background-image: url(./img/slideshow_1.gif);
    background-repeat: no-repeat;
    background-position: calc(80% + 120px) 20px;
    position: relative;
    z-index: 1;
    width: '20%' */


}

#works::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#works .works {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#works h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#works h1:nth-child(1) {
    animation-delay: 1s;
}

#works h1:nth-child(2) {
    animation-delay: 2s;
}

#works h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#works h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #AD8200;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#works h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#works h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#works h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Hero Section */

.text-container {
    flex: 1;
    padding: 0 20px;
    /* Adjust the padding as per your requirements for smaller screens */
}

@media (min-width: 768px) {
    .text-container {
        padding: 0 240px;
        /* Restore the original padding for larger screens */
    }
}

/* middle Line */
.middle-line {
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 3px;
    height: 403px;
    /* Adjust the height as needed */
    background-color: #AD8200;
    margin: 50px 90px;
    align-self: flex-start;
    /* Add this line */
}


.left-text {
    text-align: left;
    align-self: flex-start;
    padding-top: 60px;
}

.left-text {
    text-align: left;
    align-self: flex-start;
    padding-top: 60px;
}

.right-text {
    text-align: right;
    align-self: flex-start;
    padding-top: 190px;
}

.horizontal-line-container {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */

}

.horizontal-line {
    flex-grow: 1;
    height: 3px;
    background-color: #AD8200;
    margin-top: -63px;
    /* Add a margin to separate the line from the text */
    margin-right: -200px;

}

.lhorizontal-line-container {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */

}

.lhorizontal-line {
    /* flex-grow: 1;
    height: 3px; */
    background-color: #AD8200;
    /* margin-top: -63px; */
    /* Add a margin to separate the line from the text  problem*/
    /* margin-left: 90px;
    margin-right: 1px; */
}

.llhorizontal-line-container {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */

}

.llhorizontal-line {
    /* flex-grow: 1;
    height: 3px; */
    background-color: #AD8200;
    /* margin-top: -48px; */
    /* Add a margin to separate the line from the text  problem*/
    /* margin-left: 90px;
    margin-right: 1px; */
}

.rhorizontal-line-container {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */

}

.rhorizontal-line {
    flex-grow: 1;
    height: 3px;
    background-color: #AD8200;
    margin-top: -65px;
    /* Add a margin to separate the line from the text */
    margin-left: -90px;
    margin-right: 47px;

}



.left-text .horizontal-line {
    margin-left: 200px;
    /* Align the horizontal line to the right within the left text box */
}

.right-text .horizontalright-line {
    margin-right: 200px;
    /* Align the horizontal line to the left within the right text box */
}

body {
    /* background-color: #444442;  for body*/
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 39%);
    /* background: radial-gradient(50% 50%at 50% 50%,
			rgba(95, 0, 189, 0.33),
			rgba(23, 23, 23, 0.23)); */
    padding-top: 85px;
}

.image-text-container {
    display: flex;
    align-items: center;
    /* Align items vertically */

}


.check-image {
    width: 80px;
    height: auto;
    padding-left: 10px;
}

.exchange-image {
    width: 80px;
    height: auto;
    padding-left: 10px;
    padding-top: 170px;
}

.image-right-text-container {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.exhibition-image {
    margin-left: auto;
    /* Push the image to the right side */
    width: 80px;
    height: auto;
    padding-left: 10px;
    padding-top: 155px;

}

.contact-text-container {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.contact-image {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    /* margin-right: 10px;
    margin-left: 400px; */
    /* Add some spacing between the image and text */
}

.authenticate-image {
    margin-left: auto;
    width: 190px;
    height: auto;
    margin-top: -200px;

}

/* CONTACT ME */
body {
    /* background-color: #444442;  for body*/
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 39%);
    /* background: radial-gradient(50% 50%at 50% 50%,
			rgba(95, 0, 189, 0.33),
			rgba(23, 23, 23, 0.23)); */
    padding-top: 85px;
}

h1 {
    font-family: 'inter', inter, 'inter';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'inter', inter, 'inter';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #531a89;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.styled-input {
    width: 100%;
}


.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #AD8200;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    background-color: #531a89;
}


.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

textarea {
    resize: none;
}

/*footer*/

.footer-distributed {
    /* footercolor */
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 15%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #AD8200;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

.grid1-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-template-rows: repeat(2, auto);
    /* Two rows */
    gap: -15px;
    /* Adjust the gap value as per your preference */
    grid-row-gap: 5px;
    /* Add smaller gap between rows */
    color: white
}

.grid1-title {
    grid-column: 1 / span 2;
    /* Span across both columns */
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.grid1-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 2 columns with equal width */
    grid-template-rows: repeat(3, 1fr);
    /* 3 rows with equal height */
    gap: 20px;
    /* Gap between grid items */
}

.grid1-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns with equal width */
    grid-template-rows: repeat(3, 1fr);
    /* 3 rows with equal height */
    gap: 20px;
    /* Gap between grid items */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 18px;
}

.grid-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 190px;
}

footer {
    background-color: #202020;
    padding: 5px;
    text-align: center;
}

.credits {
    font-size: 14px;
    color: #666;
}

.footer-image {
    width: 50px;
    height: auto;
    margin: 1px;
    margin-left: 28px;
}


.footerlogo-image {
    width: 150px;
    height: auto;
    align-items: center;
    margin-left: 170px;
}

@media (max-width: 768px) {
    .footerlogo-image {
        width: 100px;
        margin-left: 0;
        margin-right: 10px;
    }
}


.footer-text {
    width: 150px;
    height: auto;
    margin-left: 40px;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #1e88e5;
}

button:hover {
    opacity: 0.8;
}

/*image */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.content {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    max-width: 250px;
}

@media (min-width: 768px) {
    .container {
        justify-content: flex-start;
    }

    .content {
        flex: 0 0 50%;
        margin-bottom: 0;
        text-align: left;
    }

    .image {
        flex: 0 0 50%;
        max-width: 250px;
        margin-left: 20px;
    }
}