#navbar {
    background-color: #f8f8f8;
    padding: 10px;
    z-index: 100;
    transition: top 0.3s;
}

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    margin-top: 60px;
    /* Add margin to avoid content overlapping with the navbar */
    padding: 20px;
}